@import "whitespace-reset"

= border-radius($radius)
  -moz-border-radius: $radius
  border-radius: $radius
= border-top-right-radius($radius)
  -moz-border-radius-topright: $radius
  border-top-right-radius: $radius
= border-top-left-radius($radius)
  -moz-border-radius-topleft: $radius
  border-top-left-radius: $radius
= border-bottom-right-radius($radius)
  -moz-border-radius-bottomright: $radius
  border-bottom-right-radius: $radius
= border-bottom-left-radius($radius)
  -moz-border-radius-bottomleft: $radius
  border-bottom-left-radius: $radius
= box-shadow($arguments)
  -webkit-box-shadow: $arguments
  -moz-box-shadow: $arguments
  box-shadow: $arguments
= opacity($val)
  opacity: $val
  filter: alpha(opacity=$val*100)
= gradient-bg($color1, $color2)
  background-color: $color2
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2})
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$color1}, endColorstr=#{$color2})
  background-image: -moz-linear-gradient(100% 100% 90deg, $color2, $color1)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2))
= gradient-bg-horizontal($color1, $color2)
  background-color: $color2
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$color1}, endColorstr=#{$color2})
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#{$color1}, endColorstr=#{$color2})
  background-image: -moz-linear-gradient(100% 100% 180deg, $color2, $color1)
  background-image: -webkit-gradient(linear, left center, right center, from($color1), to($color2))

= button($from: #7fbc5e, $to: #619e40)
  padding: 8px 15px
  overflow: visible
  font: bold 14px Arial, Helvetica, sans-serif
  text-shadow: 1px 1px 1px #808080
  color: #ffffff
  cursor: pointer
  border: 1px solid #619e40
  +border-radius(5px)
  +gradient-bg($from, $to)
= input($width: 288px)
  width: $width
  height: 26px
  padding: 0 5px
  font: normal 12px/26px Arial, Helvetica, sans-serif
  border: 1px solid #cccccc
  +border-radius(4px)
  +gradient-bg(#f7f7f7, #ffffff)
